@page "/forgotpassword"
@code {
    AccountModel data = new AccountModel();
    bool isLoading = false;

    async Task ResetPasswordClick()
    {
        isLoading = true;
        await InvokeAsync(StateHasChanged);
        await db.ResetPassword(data.Email);
        nav.NavigateTo("/signin");
        snackbar.Add("Your password has been reset. Kindly check your email.", Severity.Success);
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }
}

<EditForm Model="data" OnValidSubmit="ResetPasswordClick">
    <MudPaper Class="p-2 mt-5" Outlined>
        <MudToolBar Class="p-0 mb-4" Dense>
            <MudIcon Icon="@Icons.Material.Outlined.Lock" Class="mr-3" />
            <MudText Align="Align.Center" Typo="Typo.h5">Reset Password</MudText>
        </MudToolBar>
        <MudTextField Immediate Required @bind-Value="data.Email" Disabled="isLoading" Label="Email" Placeholder="Enter email" T="string" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Outlined.Email" Class="mb-4" />
        @if (isLoading)
        {
            <MudProgressLinear Indeterminate Size="Size.Small" Color="Color.Primary" Class="mb-2" />
        }
        <p class="text-end">
            <MudButton ButtonType="ButtonType.Submit" Disabled="@(isLoading || string.IsNullOrEmpty(data.Email))" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Outlined.Send" DisableElevation Color="Color.Primary">Reset</MudButton>
        </p>
    </MudPaper>
</EditForm>