@page "/profile"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider

@code {
    AccountModel model = new();
    protected override async Task OnInitializedAsync()
    {
        var state = await ((AppAuthenticationStateProvider)authProvider).GetAuthenticationStateAsync();
        if (state.User.Identity.IsAuthenticated)
        {
            model = await db.GetUser(state.User.Identity.Name);
            await InvokeAsync(StateHasChanged);
        }
        
        await base.OnInitializedAsync();
    }

    bool isLoading = false;
    
}
<h1>Hello, @model.FirstName!</h1>

<MudTextField Disabled @bind-Value="model.Email" ReadOnly Class="mt-2" T="string" Variant="Variant.Outlined" Label="Email" />
<MudTextField @bind-Value="model.FirstName" Class="mt-2" T="string" Variant="Variant.Outlined" Label="First Name" />
<MudTextField @bind-Value="model.LastName" Class="mt-2" T="string" Variant="Variant.Outlined" Label="Last Name" />
<MudTextField @bind-Value="model.PhoneNumber" Class="mt-2" T="string" Variant="Variant.Outlined" Label="PhoneNumber" />
@if (isLoading)
{
    <MudProgressLinear Size="Size.Small" Color="Color.Primary" Class="mt-1" Indeterminate />
}
<MudButton Class="mt-2" Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Small">Update</MudButton>